.navbar .nav-link {
    font-weight: bolder;
    font-size: 2.6vh;
    text-transform: uppercase;
    color: #ffffff;
  }
  nav {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .navuser{
    color: #000000;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 2.5vh;
  }
  .nav-item {
    margin-right: 3em;
  }
  
  
  
  @media only screen and (min-width: 992px){
    .navbar .navbar-nav .nav-link {
      position: relative;
    }
    .navbar .navbar-nav .nav-link::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #fff;
      color: transparent;
      width: 0%;
      content: "";
      height: 3px;
      transition: all 0.3s;
    }
    .navbar .navbar-nav .nav-link:hover::after {
      width: 70%;
    }
    
    .navbar .navbar-nav .currentpage::after{
      width: 70%;
    }
  }
  
  @media only screen and (max-width: 992px)
  {
    .navbar .navbar-nav .nav-link {
      padding: 0.5 2rem
    }
    
    
    #navbarCollapse{
      z-index: 1;
      background-color:#171C24 ;
      text-align: left;
    }
    .logo{
   
      display:none;
      
    }
    
  }
   